.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #F3EEEA;
    font-family: 'Oswald', sans-serif;
}

.projects .titlesection {
    padding-left: 10%;
}

.projects .lista {
    padding-left: 10%;
    padding-right: 10%;
}

.projects .lista .card{
    display: grid;
    flex: 1;
    grid-template-columns: 2fr 1fr; 
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.projects .lista .card .image .img2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.projects .lista .card .texto{
    padding: 10%;
    background-color: #F3EEEA;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.projects .lista .card .texto .title{
    height: auto;
}

.projects .lista .card .texto .context{
    margin-top: 2%;
    height: auto;
}

.projects .lista .card .texto .language{
    margin-top: 2%;
    height: auto;
}

.projects .lista .card .texto .type{
    margin-top: 2%;
    height: auto;
}

.projects .lista .card .texto .btn{
    height: auto;
    background-color:white;
    text-decoration: none;
    margin: 10%;
    border-radius: 10px;
}

.projects .lista .card .texto .btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: rgb(237, 5, 117);
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
}

.projects .lista .card .texto .btn .btnp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    color: black;
}

